$s: 32px;
.tile {
  background-image: url("/png/tiles32.png");
  background-repeat: no-repeat;
  width: $s;
  height: $s;
  display: inline-block;
  overflow: hidden;
  background-position: (-36 * $s) (-36 * $s);
}
.player {
  background-position: (-2 * $s) (-1 * $s);
}
.WALL.HORIZONTAL {
  background-position: (-12 * $s) (-21 * $s);
}
.WALL.VERTICAL {
  background-position: (-11 * $s) (-21 * $s);
}
.WALL.TOP_LEFT_CORNER {
  background-position: (-13 * $s) (-21 * $s);
}
.WALL.TOP_RIGHT_CORNER {
  background-position: (-14 * $s) (-21 * $s);
}
.WALL.BOTTOM_LEFT_CORNER {
  background-position: (-15 * $s) (-21 * $s);
}
.WALL.BOTTOM_RIGHT_CORNER {
  background-position: (-16 * $s) (-21 * $s);
}
.FLOOR.NORMAL {
  background-position: (-36 * $s) (-36 * $s);
}
.DOOR.HORIZONTAL {
  background-position: (-24 * $s) (-21 * $s);
}
.DOOR.VERTICAL {
  background-position: (-23 * $s) (-21 * $s);
}
.STAIRS_UP {
  background-position: (-33 * $s) (-21 * $s);
}
.STAIRS_DOWN {
  background-position: (-34 * $s) (-21 * $s);
}
.miniMap {
  > div {
    position: relative;
    top: 150px;
    left: 150px;
    .tile {
      position: absolute;
    }
  }
  position: fixed;
  bottom: 8px;
  right: 8px;
  zoom: 0.5;
  opacity: 0.7;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 1px #fff;
  box-shadow: inset 8px 8px 8px #000;
  background: radial-gradient(#111 100%, #000);
}
